@{
    ViewBag.Title = "ログイン";
}
<style>
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
        margin-bottom: 15px;
        height: 300px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin-bottom: 20px;
    }
	.form-control,input {
		font-weight: normal;
		font-size: 14px;
	}
    .form-control, .btn {
        margin-top:10px;a
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>


	@*<div class="login-form">
		<form  method="post">
			<h2 class="text-center">ログイン</h2>       
			<div class="form-group">
				<input type="text" class="form-control input-sm" placeholder="ユーザーID">
			</div>
			<div class="form-group ">
				<input type="password" class="form-control" placeholder="パスワード">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">ログイン</button>
			</div>
			<div >
				<a href="#" class="pull-right">パスワード変更</a>
			</div>        
		</form>
	</div>*@

	<div class="login-form">
		<form  method="post">
			<h2 class="text-center">ログイン</h2> 
			<div class="form-group">
				<input type="text" class="form-control input-sm" placeholder="ユーザーID">
			</div>
			<div class="form-group ">
				<input type="password" class="form-control" placeholder="パスワード">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">ログイン</button>
				<button type="submit" class="btn btn-primary pull-right">パスワード変更</button>
			</div>      
		</form>
	</div>



